*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cookie-container{
    background: linear-gradient(260deg, #9b6c50 0%, #4f2626 100%);
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    display:flex;
    width: 25rem;
    height: 10rem;
    padding: 1rem;
    border-radius:5px;
    font:'Montserrat';
    align-items: center;   
    overflow: hidden;
}

.text{
    width:60%;
}

.title{
    font-size: 1.2rem;
}
.subtitle{
    font-weight: lighter;
    font-size: 1rem;
}
