* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: 'Aleo', serif;
    
}


nav {
    background: white;
    height: 50px;
    width: 100%;
}
nav img {
    width: 40px;
    margin-left: 20px;
    margin-top: 5px;
}

nav ul {
    float: right;
    margin-right: 350px;
}

nav ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 20px;

}
nav ul li a {
    color: black;
    font-size: 18px;
    padding: 7px 14px;
    border-radius: 3px;
}
a.active, a:hover{
    background: black;
    transition: 0.5s;
    color: white;
}
.checkbtn {
    font-size: 20px;
    color: black;
    float: right;
    line-height: 40px;
    margin-top: 10px;
    margin-right: 15px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


.search-box {
    position: absolute;
    top: 3.5%;
    left: 97%;
    transform: translate(-100%,-50%);
    background: black;
    height: 40px;
    border-radius: 20px;
}

.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 12px;
}

.search-box:hover > .search-btn {
    background: white;
}

.search-btn {
    color: black;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    font-weight: 400;
    transition: 0.5s;
    line-height: 40px;
    width: 0px;
}

@media (max-width: 1192px) {
    .checkbtn {
        display: block;
    }
    nav img {
        width: 60px;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        margin-top: 25px;
        background: white;
        top: 50px;
        left: -100%;
        text-align: left;
        transition: all 0.5s
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 20px;
    }

        nav ul li a {
            margin-left: 20px;
            font-size: 28px;
        }

    a:hover, a.active {
        background: none;
        color: black;
    }

    #check:checked ~ ul {
        left: 0;
    }
    .search-box {
        position: absolute;
        top: 3.5%;
        left: 90%;
        transform: translate(-100%,-50%);
        background: black;
        height: 40px;
        border-radius: 20px;
    }


}

.homepage {
    margin: auto;
    padding-top: 470px;
    text-align: right;
    background-image: url(images/test.jpeg);
    height: 80vh;
}
.homepage h1 {
    font-size: 36px;
    font-weight: 600;
    margin-right: 25px;
    color: white;
    
}

.homepage p {
    font-size: 28px;
    font-weight: 400;
    margin-right: 25px;
    color: white;
}


@media (max-width: 1192px){
.homepage{
    margin-top: 25px;
    height: 50vh;
    padding-top: 550px;
    background-image: url(images/test2.jpeg);
    background-size: cover;
}
.homepage h1 {
    font-size: 32px;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    color: black;
}
.homepage p { 
    font-size: 24px;
    text-align: left;
    margin-left: 20px;
    color: black;
  
}
}

.page1 {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.page1 h1 {
    font-size: 30px;
    font-weight: 600;
}
.page1 p {
    color: black;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    padding: 20px;

}

@media (max-width: 1192px) {
    .page1 {
        padding-top: 250px;
    }
}

    .row1 {
     
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
       
    }

    .product-col1 {
        background-color: whitesmoke;
        flex-basis: 20%;
        border-radius: 10px;
        margin-bottom: 5%;
        text-align: left;
        padding: 50px;
        cursor: pointer;
        display: inline-flex;
        transition: 0.5s;
    }

        .product-col1:hover {
            box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
        }

        .product-col1 img {
            height: 100px;
            margin-left: 5px;
            margin-right: 20px;
            border-radius: 50%;
        }

        .product-col1 .fa {
            color: #f44336;
            font-size: 9px;
        }

    @media (max-width: 1192px) {

        .row1 {
            width: 300px;
            flex-direction: row;
            overflow: scroll;
        }

        .product-col1 .fa {
            font-size: 9px;
        }
    }

.image {
    margin: auto;
    padding-top: 470px;
    text-align: right;
    background-image: url(images/test.jpeg);
    height: 80vh;
}
@media (max-width: 1192px) {
    .image {
        margin-top: 25px;
        height: 50vh;
        padding-top: 550px;
        background-image: url(images/test2.jpeg);
        background-size: cover;
    }
}

    .page2 {
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: 50px;
    }

        .page2 h1 {
            font-size: 30px;
            font-weight: 600;
        }

        .page2 p {
            color: black;
            font-size: 20px;
            font-weight: 300;
            line-height: 24px;
            padding: 20px;
        }

    @media (max-width: 1192px) {
        .page2 {
            padding-top: 50px;
        }
    }

    .row2 {
        margin-top: 5%;
        display: inline-flex;
        justify-content: space-between;
    }

    .product-col2 {
        background-color: whitesmoke;
        flex-basis: 20%;
        border-radius: 10px;
        margin-bottom: 5%;
        text-align: left;
        padding: 50px;
        cursor: pointer;
        display: flex;
        transition: 0.5s;
    }

        .product-col2:hover {
            box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
        }

        .product-col2 img {
            height: 100px;
            margin-left: 5px;
            margin-right: 20px;
            border-radius: 50%;
        }

        .product-col2 .fa {
            color: #f44336;
            font-size: 9px;
        }

    @media (max-width: 1192px) {

        .row2 {
            width: 300px;
            flex-direction: row;
            overflow: scroll;
        }

        .product-col2 .fa {
            font-size: 8px;
        }
    }

    .footer {
        width: 100%;
        text-align: center;
        padding: 30px 0;
        background: black;
    }

        .footer h3 {
            color: white;
            margin-bottom: 25px;
            margin-top: 20px;
            font-size: 20px;
        }

        .footer p {
            color: white;
            font-size: 16px;
        }

    .icons .fa {
        color: #f44336;
        margin: 0 12px;
        cursor: pointer;
        padding: 18px 0;
    }

    @media (max-width: 1192px){
        .product1{
            margin-top: 15px;
            height: 50vh;
            padding-top: 150px;
            background-image: url(images/micellar_water.jpg);
            background-size:cover;
        }

        .product1 h1{
            margin-top: 250px;
            margin-left: 10px;
            padding: 10px;
            margin-bottom: 0px;
            }
        
        .product1 p{
            margin: 0px;
            padding: 20px;
        }

        .product1 button{
            background-color: black;
            color: white;
            width: 100px;
            height: 50px;
            font-weight: lighter;
            margin-top: 15px;
            margin-left: 135px;
            justify-content: center;
        }
        .product1 h2{
            margin-left: 17px;
            margin-top: 30px;
            font-size: 20px ;
        }
    }


    @media (max-width: 1192px){
        .product2{
            margin-top: 15px;
            height: 50vh;
            padding-top: 150px;
            background-image: url(images/shampoo.jpg);
            background-size:cover;
        }

        .product2 h1{
            margin-top: 250px;
            margin-left: 10px;
            padding: 15px;
            margin-bottom: 0px;
            }
        
        .product2 p{
            margin: 0px;
            padding: 20px;
        }

        .product2 button{
            background-color: black;
            color: white;
            width: 100px;
            height: 50px;
            font-weight: lighter;
            margin-top: 15px;
            margin-left: 135px;
            justify-content: center;
        }
        .product2 h2{
            margin-left: 17px;
            margin-top: 30px;
            font-size: 20px ;
        }
    }

    
    @media (max-width: 1192px){
        .product3{
            margin-top: 20px;
            height: 50vh;
            padding-top: 150px;
            background-image: url(images/shower_gel.jpg);
            background-size:cover;
        }

        .product3 h1{
            margin-top: 250px;
            margin-left: 10px;
            padding: 15px;
            margin-bottom: 0px;
            }
        
        .product3 p{
            margin: 0px;
            padding: 20px;
        }

        .product3 button{
            background-color: black;
            color: white;
            width: 100px;
            height: 50px;
            font-weight: lighter;
            margin-top: 15px;
            margin-left: 135px;
            justify-content: center;
        }
        .product3 h2{
            margin-left: 17px;
            margin-top: 30px;
            font-size: 20px ;
        }
        
    }

    @media (max-width: 1192px){
        .product4{
            margin-top: 20px;
            height: 50vh;
            padding-top: 150px;
            background-image: url(images/hair_dye.png);
            background-size:cover;
        }

        .product4 h1{
            margin-top: 250px;
            margin-left: 10px;
            padding: 15px;
            margin-bottom: 0px;
            }
        
        .product4 p{
            margin: 0px;
            padding: 20px;
        }

        .product4 button{
            background-color: black;
            color: white;
            width: 100px;
            height: 50px;
            font-weight: lighter;
            margin-top: 15px;
            margin-left: 135px;
            justify-content: center;
        }
        .product4 h2{
            margin-left: 17px;
            margin-top: 30px;
            font-size: 20px ;
        }
        
    }